extends layout

block content 
    h1= title 
 

    - let denim_length = toShow.length
    - let denim_width = toShow.width
    - let denim_stretchy = toShow.stretchy
    - let denimid = toShow._id 
    div 
    div.row 
      div(class='costumeAttr mr-3') Denim ID is: 
      div #{denimid} 
    div.row 
      div(class='costumeAttr mr-3') Denim Length is: 
      div #{denim_length} 
    div.row 
      div(class='costumeAttr mr-3') Denim Width is: 
      div #{denim_width} 
    div.row 
      div(class='costumeAttr mr-3') Denim Stretchy? is: 
      div #{denim_stretchy}